<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Lista de mis familiares</h1>

    {% extends 'trabajo/base.html' %}
    {% block titulo%} Lista de todos mis Familiares {% endblock %}
    {% block contenido %}
      {% for familia in lista_familiares %}
          <ul>
              <li> Nombre: {{familia.nombre}}, Dirección: {{familia.direccion}}</li>
          </ul>
      {% endfor %}
    {% endblock %}
    
</body>
</html>