<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1> Bienvenidos a Mi Familia!!!!<h1>
   <p> Mi familia---> <a href='http://127.0.0.1:8000/mi-familia'> clic aqui </a> <p>
    <p> Dar de alta familiar---> <a href='http://127.0.0.1:8000/mi-familia/alta'> clic aqui  </a> <p></p>
    <p> Dar de alta Ciudad--> <a href='http://127.0.0.1:8000/alta-ciudad'> clic aqui </a> <p></p>
    <p> Buscar un familiar por nombre---> <a href='http://127.0.0.1:8000/mi-familia/buscar'> clic aqui </a> <p></p>
    
     

</body>
</html>